<body>
    <form id="userForm">
        <label for="dim">Nominal Dimension:</label>
        <input type="number" id="dim" name="dim" required>

        <label for="shaft" id="shaftLabel">OTS Shaft:</label>
        <input type="checkbox" id="shaft" name="shaft">

        <div id="shaftInputContainer_min" style="display: none;">
            <label for="shaftInput_min">Min Shaft Variation:</label>
            <input type="number" id="shaftInput_min" name="shaftInput_min">
        </div>

        <div id="shaftInputContainer_max" style="display: none;">
            <label for="shaftInput_max">Max Shaft Variation:</label>
            <input type="number" id="shaftInput_max" name="shaftInput_max">
        </div>

        <label for="hole" id="holeLabel">OTS Hole:</label>
        <input type="checkbox" id="hole" name="hole">

        <div id="holeInputContainer_min" style="display: none;">
            <label for="holeInput_min">Min Hole Variation:</label>
            <input type="number" id="holeInput_min" name="holeInput_min">
        </div>

        <div id="holeInputContainer_max" style="display: none;">
            <label for="holeInput_max">Max Hole Variation:</label>
            <input type="number" id="holeInput_max" name="holeInput_max">
        </div>

        <label for="fits">Fit:</label>
        <select id="fits" name="fits" required>
            <option value="LOOSE_RUNNING">Loose running</option>
            <option value="FREE_RUNNING">Free running</option>
            <option value="CLOSE_RUNNING">Close running</option>
            <option value="SLIDING">Sliding</option>
            <option value="LOCATION">Location</option>
            <option value="SIMILAR_FIT">Similar fit</option>
            <option value="FIXED_FIT">Fixed fit</option>
            <option value="PRESS_FIT">Press fit</option>
            <option value="DRIVING_FIT">Driving Fit</option>
            <option value="FORCED_FIT">Forced fit</option>
            <!-- Add more options as needed -->
        </select>

        <button type="button" onclick="collectAndDisplay()">Submit</button>
    </form>
    
    <div id="displayArea"></div>

    <script src="commands.js"></script>
</body>

</html>
